/* Reset Geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #d6851b;
    background-color: #040404;
}

/* Container Geral */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Estilo do Header */
.site-header {
    background-color: #040404;
    color: #fff;
    padding: 1rem 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.site-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-header img {
    max-width: 100px;
    height: auto;
}

.navbar {
    display: flex;
    gap: 10px;
}

.navbar a {
    display: none;
    color: #d6851b;
    text-decoration: none;
    font-weight: bold;
}

.navbar a[data-lang="es"] {
    /*display: table-column;*/
    display: list-item;
}

/* Estilo do Banner Principal */
.hero-section {
    background-color: #13b1d5;
    color: #040404;
    text-align: center;
    padding: 3rem 2.5rem;
    /*padding: 1.5rem 0.6rem;*/
    margin-top: 100px;
}


.hero-section h2 {
    font-size: 1rem;
    margin-bottom: 15px;
}

.hero-section p {
    font-size: 0.8rem;
}

/* Sobre Nosotros */
.about-section {
    background-color: #1a80a7;
    /*background: linear-gradient(#191c37, #1a80a7);*/
    margin: 0px auto;
    width: 100%;
    /*text-align: justify;*/
}

.about-section h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    color: #fff;
    text-align: center;
}

.about-section p {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 40px;
    font-size: 1em;
    color: #fff;
    overflow: auto;
    text-align: justify;
}

.diferenciais {
    text-align: center;
    font-size: 0.5em;
    margin: 15px auto;
    width: 100%;
}

.diferenciais-list {
    list-style-type: none;
    padding-left: 0;
    padding: 30px;
    text-align: start;
}

.diferenciais-list li {
    margin-bottom: 8px;
    font-size: 15px;
    line-height: auto;
    color: #fff;
}

.diferenciais-list li::before {
    content: "✅";
    margin-right: 10px;
}

/* Footer */
.site-footer {
    background-color: #040404;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.site-footer p {
    margin: 0;
    font-size: 0.9rem;
}

/* Seletor de Idiomas */
.language-selector {
    margin-left: 70%;
    background-color: #040404;
    color: #fff;
}

.language-selector select {
    margin: 0px;
    padding: 0px;
    border-radius: 5px;
    border: 1.5px solid #ccc;
    background-color: #efe1d5;
    color: #333;
    font-size: 0.7rem;
}

@media (max-width: 1200px) {
    .container {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar {
        flex-direction: row;
        gap: 10px;
    }

    .hero-section {
        margin-top: 150px;
    }

    .about-section h2 {
        font-size: 1.5rem;
        margin-bottom: 15px;
    }

    .about-section p {
        font-size: 0.9rem;
    }

    .diferenciais-list {
        padding: 15px;
    }

    .diferenciais-list li {
        font-size: 14px;
    }
}
